if TARGET_COMPULAB_IMX8

choice
    prompt "rvPhone board select"

config TARGET_CL_IMX8
    bool "cl-imx8"

endchoice

config DEFAULT_DTB
    string "U-Boot Default Device Tree File"
    depends on TARGET_RVPHONE_CL_IMX8
    default "cl-som.dtb"

config SYS_BOARD
	default "cl-imx8"

config SYS_VENDOR
	default "compulab"

config SYS_CONFIG_NAME
	default "cl-imx8"

choice
	prompt "RAM Volume select"
	default RAM_2G
	help
	 This option configures 2G RAM only

config RAM_1G
	bool "RAM_1G"
	help
	 This option configures 1G RAM only

config RAM_2G
	bool "RAM_2G"
	help
	 This option configures 2G RAM only

endchoice

endif
